.idea/
target/
*.iml
*.log
out/

MANIFEST.MF
imgui.ini
textureAtlas.png
dependency-reduced-pom.xml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
